<html>
  <head>
    <title>LIGHTCYCLE</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <%- body %>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script data-main="/js/main" src="/js/lib/require.js"></script>
</html>
