@import "public/css/mixins";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000404;
}

#main {
  background: url(/images/tron_banner.jpg) 115px -50px no-repeat;
  margin: auto;
  width: 900px;
  padding-top: 240px;


  #canvasContainer {
    .box-shadow(0px, 0px, 10px, #9CF3FF);
    margin: auto;

    #gameCanvas {
      background: #000000;
    }
  }
}
